<!doctype html>
<html lang="en">
  <head>
    <title> Portfolio Performance</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">  <title>Portfolio Performance</title>

    <!-- Custom CSS styles -->
    <link href="{{ url_for('static', filename='css/goldshire.css') }}" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <!-- Static navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Portfolio Performance</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Overall<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" @click.prevent="getStocks({{ url_for('get_stocks') }})" href="#">Stocks</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">

        <div class="row">
          <div class="col-md-8">
            <div class="jumbotron">
              <h3 class="display-3">整体业绩</h3>
              <hr class="my-4">
              <p>
              </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="row">
              {% for invest in invests %}
              <div class="col-md">
                <h6>{{ invest.name }} - {{ invest.currency }}</h6>
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    初始投入：
                    <span class="badge badge-primary badge-pill">{{ invest.fund}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    当前资产:
                    <span class="badge badge-primary badge-pill">{{ invest.value }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    持仓市值：
                    <span class="badge badge-primary badge-pill">{{ invest.position }}</span>
                  </li>
                </ul>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <grid-stocks :data="gridData" :columns="gridColumns">
            </grid-stocks>
          </div>
          <div class="col-md-4">
          </div>
        </div>

      </div> <!-- /container -->
    </div> <!-- End of Vue app -->

    <!-- Vue & Axios library
    ================================================ -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.3/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Custom JavaScript
    ================================================ -->

    <!-- Vue templates -->
    <script type="text/x-template" id="grid-stocks-template">
    <table class="table">
      <thead>
        <tr>
          <th v-for="col in columns"
              @click="sortBy(col)"
              :class="{ active: sortKey == col }">
            <span v-text="col"></span>
            <span class="arrow" :class="sortOrders[col]>0 ? 'asc' : 'dsc'"></span>
          </th>
          </tr>
        </thead>
      <tbody>
        <tr v-for="row in sortedData">
          <td v-for="col in columns">
            <span v-text="row[col]"></span>
          </td>
        </tr>
      </tbody>
    </table>
    </script>

    <!-- Vue components and instance -->
    <script type=text/javascript src="{{ url_for('static',
      filename='js/goldshire.js') }}"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  </body>
</html>
