{% extends "base.html" %}

{% block container %}
<script type=text/javascript>
  var freq = {{ freq|tojson }}
  var freq_cny = {{ freq_cny|tojson }}
  var freq_hkd = {{ freq_hkd|tojson }}
  var freq_all = {{ freq_all|tojson }}

  for (i=0; i<freq.length; i++) {
     fdate = new Date(freq[i])
     freq[i] = fdate.toLocaleDateString()
  }

  cnyData = []
  for (i=0; i<freq_cny.length; i++) {
     cnyData[i] = freq_cny[i]['Value']
  }

  hkdData = []
  for (i=0; i<freq_hkd.length; i++) {
     hkdData[i] = freq_hkd[i]['Value']
  }

  allData = []
  for (i=0; i<freq_all.length; i++) {
     allData[i] = freq_all[i]['Value']
  }

</script>

<div class="container">

  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="以2015年12月31日为投资起点">
        整体业绩 - 以CNY计
      </button>
      <p>
      <dl class="row">
        <dt class="col-sm-3">资产:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_all.Value) }}</dd>
        <dt class="col-sm-3">持仓:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_all.Market) }}</dd>
        <dt class="col-sm-3">可用:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_all.Value-data_all.Market) }}</dd>
        <dt class="col-sm-3">总投入:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_all.Fund) }}</dd>
        <dt class="col-sm-3">总盈亏:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_all.Earning) }}</dd>
        <dt class="col-sm-3">总佣金:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_all.Commission) }}</dd>
        <dt class="col-sm-3">总税金:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_all.Tax) }}</dd>
      </dl>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="以2015年12月31日为投资起点">
        境内投资 - 以CNY计
      </button>
      <p>
      <dl class="row">
        <dt class="col-sm-3">资产:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_cny.Value) }}</dd>
        <dt class="col-sm-3">持仓:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_cny.Market) }}</dd>
        <dt class="col-sm-3">可用:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_cny.Value-data_cny.Market) }}</dd>
        <dt class="col-sm-3">总投入:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_cny.Fund) }}</dd>
        <dt class="col-sm-3">总盈亏:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_cny.Earning) }}</dd>
        <dt class="col-sm-3">总佣金:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_cny.Commission) }}</dd>
        <dt class="col-sm-3">总税金:</dt>
        <dd class="col-sm-9">&yen; {{ "{:,.2f}".format(data_cny.Tax) }}</dd>
      </dl>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="以2012年10月08日为投资起点">
        境外投资 - 以HKD计
      </button>
      <p>
      <dl class="row">
        <dt class="col-sm-3">资产:</dt>
        <dd class="col-sm-9">HK$ {{ "{:,.2f}".format(data_hkd.Value) }}</dd>
        <dt class="col-sm-3">持仓:</dt>
        <dd class="col-sm-9">HK$ {{ "{:,.2f}".format(data_hkd.Market) }}</dd>
        <dt class="col-sm-3">可用:</dt>
        <dd class="col-sm-9">HK$ {{ "{:,.2f}".format(data_hkd.Value-data_hkd.Market) }}</dd>
        <dt class="col-sm-3">总投入:</dt>
        <dd class="col-sm-9">HK$ {{ "{:,.2f}".format(data_hkd.Fund) }}</dd>
        <dt class="col-sm-3">总盈亏:</dt>
        <dd class="col-sm-9">HK$ {{ "{:,.2f}".format(data_hkd.Earning) }}</dd>
        <dt class="col-sm-3">总佣金:</dt>
        <dd class="col-sm-9">HK$ {{ "{:,.2f}".format(data_hkd.Commission) }}</dd>
        <dt class="col-sm-3">总税金:</dt>
        <dd class="col-sm-9">HK$ {{ "{:,.2f}".format(data_hkd.Tax) }}</dd>
      </dl>
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-sm-10">
      <div id="dataChart">
      </div>
      <script type=text/javascript>
        dates = []
        for (i=0; i<freq.length; i++) {
          fdate = new Date(freq[i])
          dates[i] = fdate.toLocaleDateString()
        }

        cnyData = []
        for (i=0; i<freq_cny.length; i++) {
          cnyData[i] = freq_cny[i]['Value']
        }

        hkdData = []
        for (i=0; i<freq_hkd.length; i++) {
          hkdData[i] = freq_hkd[i]['Value']
        }

        allData = []
        for (i=0; i<freq_all.length; i++) {
          allData[i] = freq_all[i]['Value']
        }

        var allTrace = {
          x: dates,
          y: allData,
          mode: 'lines+markers',
          name: '全部资产-CNY¥',
          line: {
            width: 3,
          }
          //type: 'scatter',
        }

        var cnyTrace = {
          x: dates,
          y: cnyData,
          mode: 'lines+markers',
          name: '国内资产-CNY¥',
          line: {
            width: 1,
          }
          //type: 'scatter',
        }

        var hkdTrace = {
          x: dates,
          y: hkdData,
          mode: 'lines+markers',
          name: '境外资产-HKD$',
          line: {
            width: 1,
          }
          //type: 'scatter',
        }

        var data = [allTrace, cnyTrace, hkdTrace]
        Plotly.newPlot('dataChart', data)
      </script>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

</div> <!-- /container -->
{% endblock %}
